/* start grid system */

.col-1 {
    width: calc((1 * 100%)/12);
  }
  
  .col-2 {
    width: calc((2 * 100%)/12);
  }
  
  .col-3 {
    width: calc((3 * 100%)/12);
  }
  
  .col-4 {
    width: calc((4 * 100%)/12);
  }
  
  .col-5 {
    width: calc((5 * 100%)/12);
  }
  
  .col-6 {
    width: calc((6 * 100%)/12);
  }
  
  .col-7 {
    width: calc((7 * 100%)/12);
  }
  
  .col-8 {
    width: calc((8 * 100%)/12);
  }
  
  .col-9 {
    width: calc((9 * 100%)/12);
  }
  
  .col-10 {
    width: calc((10 * 100%)/12);
  }
  
  .col-11 {
    width: calc((11 * 100%)/12);
  }
  
  .col-12 {
    width: calc((12 * 100%)/12);
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* end grid system */
  
  
  /* sm screen start */
  
  @media (min-width: 576px) {
    .col-sm-1 {
      width: calc((1 * 100%)/12);
    }
    .col-sm-2 {
      width: calc((2 * 100%)/12);
    }
    .col-sm-3 {
      width: calc((3 * 100%)/12);
    }
    .col-sm-4 {
      width: calc((4 * 100%)/12);
    }
    .col-sm-5 {
      width: calc((5 * 100%)/12);
    }
    .col-sm-6 {
      width: calc((6 * 100%)/12);
    }
    .col-sm-7 {
      width: calc((7 * 100%)/12);
    }
    .col-sm-8 {
      width: calc((8 * 100%)/12);
    }
    .col-sm-9 {
      width: calc((9 * 100%)/12);
    }
    .col-sm-10 {
      width: calc((10 * 100%)/12);
    }
    .col-sm-11 {
      width: calc((11 * 100%)/12);
    }
    .col-sm-12 {
      width: calc((12 * 100%)/12);
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container {
      max-width: 540px !important;
    }
  }
  
  /* sm screen end */
  
  /* md screen start */
  
  @media (min-width: 768px) {
    .col-md-1 {
      width: calc((1 * 100%)/12);
    }
    .col-md-2 {
      width: calc((2 * 100%)/12);
    }
    .col-md-3 {
      width: calc((3 * 100%)/12);
    }
    .col-md-4 {
      width: calc((4 * 100%)/12);
    }
    .col-md-5 {
      width: calc((5 * 100%)/12);
    }
    .col-md-6 {
      width: calc((6 * 100%)/12);
    }
    .col-md-7 {
      width: calc((7 * 100%)/12);
    }
    .col-md-8 {
      width: calc((8 * 100%)/12);
    }
    .col-md-9 {
      width: calc((9 * 100%)/12);
    }
    .col-md-10 {
      width: calc((10 * 100%)/12);
    }
    .col-md-11 {
      width: calc((11 * 100%)/12);
    }
    .col-md-12 {
      width: calc((12 * 100%)/12);
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container {
      max-width: 720px !important;
    }
  }
  
  /* md screen end */
  
  
  /* lg screen start */
  
  @media (min-width: 992px) {
    .col-lg-1 {
      width: calc((1 * 100%)/12);
    }
    .col-lg-2 {
      width: calc((2 * 100%)/12);
    }
    .col-lg-3 {
      width: calc((3 * 100%)/12);
    }
    .col-lg-4 {
      width: calc((4 * 100%)/12);
    }
    .col-lg-5 {
      width: calc((5 * 100%)/12);
    }
    .col-lg-6 {
      width: calc((6 * 100%)/12);
    }
    .col-lg-7 {
      width: calc((7 * 100%)/12);
    }
    .col-lg-8 {
      width: calc((8 * 100%)/12);
    }
    .col-lg-9 {
      width: calc((9 * 100%)/12);
    }
    .col-lg-10 {
      width: calc((10 * 100%)/12);
    }
    .col-lg-11 {
      width: calc((11 * 100%)/12);
    }
    .col-lg-12 {
      width: calc((12 * 100%)/12);
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container {
      max-width: 960px !important;
    }
  }
  
  /* lg screen end */
  
  
  /* xl screen start */
  
  @media (min-width: 1200px) {
    .col-xl-1 {
      width: calc((1 * 100%)/12);
    }
    .col-xl-2 {
      width: calc((2 * 100%)/12);
    }
    .col-xl-3 {
      width: calc((3 * 100%)/12);
    }
    .col-xl-4 {
      width: calc((4 * 100%)/12);
    }
    .col-xl-5 {
      width: calc((5 * 100%)/12);
    }
    .col-xl-6 {
      width: calc((6 * 100%)/12);
    }
    .col-xl-7 {
      width: calc((7 * 100%)/12);
    }
    .col-xl-8 {
      width: calc((8 * 100%)/12);
    }
    .col-xl-9 {
      width: calc((9 * 100%)/12);
    }
    .col-xl-10 {
      width: calc((10 * 100%)/12);
    }
    .col-xl-11 {
      width: calc((11 * 100%)/12);
    }
    .col-xl-12 {
      width: calc((12 * 100%)/12);
    }
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container {
      max-width: 1140px !important;
    }
  }
  
  /* xl screen end */
  
  
  /*  freamwork start */
  
  .text-center {
    text-align: center;
  }
  
  .h2 {
    font-size: clamp(30px, 5vw, 60px);
    color: var(--backgroundc-one);
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .container {
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding-left: -15px;
    padding-right: -15px;
  }
  
  .active {
    background-color: var(--yellow) !important;
    color: #fff;
  }
  
  .shap {
    width: 100px;
    height: 2px;
    position: relative;
    left: 50%;
    border-bottom: 2px solid var(--yellow);
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  
  .shap span {
    height: 20px;
    width: 20px;
    border: 3px solid var(--yellow);
    border-radius: 50%;
    display: block;
    background-color: var(--backgroundc-two);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .shap::after {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
    display: block;
    background-color: var(--backgroundc-two);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  .shap::before {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
    display: block;
    background-color: var(--backgroundc-two);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  
  .p {
    color: var(--backgroundc-one);
    line-height: 1.7;
    margin-bottom: var(--main-padding);
  }
  
  .padding-z {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    color: var(--yellow);
  }
  
  .button:focus {
    outline: none;
  }
  
  /*  freamwork end*/
  